<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- read spring context on startup -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/application-context.xml</param-value>
    </context-param>

    <!-- log4j file config + refresh -->
    <!--
        <context-param> <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j/log4j-local.xml</param-value>
    -->
    <!-- pass to java -Dcom.bawi.env=local -->
    <!-- or -->
    <!--
    <param-value>classpath:log4j-${ssi.log4j.env}.xml</param-value>
    -->
    <!--
        </context-param> <context-param> <param-name>log4jRefreshInterval</param-name>
        <param-value>3000</param-value> </context-param>
    -->
    <!-- log4j file config + refresh -->
    <!--
        <listener> <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
        </listener>
    -->

    <!-- read spring context on startup -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
